body {
  font-family: sans-serif;
  background-color: #292c31;
  padding: 2rem;
}

h1 {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

#map-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 100%;
}

#error-message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#error-message > div {
  background-color: #424242;
  padding: 2rem;
  border-radius: 1rem;

  font-size: 2rem;
  color: #bdbdbd; /* 배경색이랑 어울리는 색상 추천좀   */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#map-images {
  max-width: 100%;
  margin: 2rem 0;
  object-fit: contain;
  position: relative;
  z-index: 1;
  transition: all 1s ease-in-out;
}

#map-images img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  &:not(:last-child) {
    border-bottom: 1px solid #757575;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}
